doctype html
html
    head
        title Title Site
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", type="text/css", href="css/main.css")

    body
        #barra-brasil(style='background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;')
            ul#menu-barra-temp(style='list-style:none;')
                li(style='display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED')
                  a(href='http://brasil.gov.br', style='font-family:sans,sans-serif; text-decoration:none; color:white;') Portal do Governo Brasileiro
                | &#x9;&#x9;
                li
                  a(style='font-family:sans,sans-serif; text-decoration:none; color:white;', href='http://epwg.governoeletronico.gov.br/barra/atualize.html') Atualize sua Barra de Governo
        .box-menu
            .row
                .small-1.columns
                    a.action-secondary-menu(href="#")
                        i.icon-menu
                .small-14.columns
                    h1.logo
                        a(href="#")
                            img(src="/img/logo-cultura-viva.svg")
                .small-9.columns
                    ul.inline-list.main-menu
                        li
                            a(href="./criterios.html")
                                i.icon-user
                                span Entrar
                        li
                            a(href="#")
                                i.icon-map
                                span Mapa
                        li
                            a(href="#")
                                i.icon-calendar
                                span Eventos
                        // li
                        //     a(href="#")
                        //         img(src="/img/usuario.png")
        .box-slideshow
            .large-offset-3.large-18.large-centered.columns.content.text-center
                img(src="/img/logo-cultura-viva-sombra.svg")
                p Como faço para me autodeclarar um Ponto de Cultura? Insira seus dados no Cadastro e a partir de uma análise simplificada a ser feita pelo Ministério da Cultura, a entidade ou coletivo passará fazer parte da Rede Cultura Viva, um ambiente de trocas de experiências, serviços, conhecimentos e informações. E se você já é Ponto de Cultura entre na rede e faça parte do Circuito Cultura Viva.
                a.button(href="#") entrar na rede
            ul.cb-slideshow
                li
                    span Image 01
                li
                    span Image 02
                li
                    span Image 03
                li
                    span Image 04
                li
                    span Image 05

        .featured-text.large-18.large-centered.columns.text-center
            h3 SOMOS TODOS PONTOS DE CULTURA
            p Desde 23 de julho de 2014, com a sanção da Lei Cultura Viva (Lei 13.018/2014), o Programa Cultura Viva e os Pontos de Cultura tornaram-se Política de Estado. Além de garantir a continuidade do Programa, a Lei simplifica e desburocratiza os processos de prestação de contas e o repasse de recursos para as organizações da sociedade civil. Uma grande vitória para o movimento cultural brasileiro!
            a.button(href="#") leia mais

        .row
            .tip-subject.large-offset-2.large-8.columns.text-center
                img(src="/img/icones-home/o-que-e-ponto-cultura.svg")
                h3 O QUE É PONTO DE CULTURA?
                p Pontos de Cultura são grupos, coletivos e entidades de natureza ou finalidade cultural, que desenvolvem e articulam atividades culturais em suas comunidades e redes.
            .tip-subject.large-offset-4.large-8.columns.text-center
                img(src="/img/icones-home/porque-ser-um.svg")
                h3 POR QUE SER UM PONTO DE CULTURA?
                p O reconhecimento como Ponto de Cultura garante uma chancela institucional, que pode ser importante para a obtenção de apoios e parcerias.
        .row
            .tip-subject.large-offset-2.large-8.columns.text-center
                img(src="/img/icones-home/o-que-ganho.svg")
                h3 O QUE EU GANHO COM ISSO?
                p A partir deste mapeamento dos conhecimentos e capacidades da rede será possível organizar circuitos de formação e intercâmbios virtuais e presenciais.
            .tip-subject.large-offset-4.large-8.columns.text-center
                img(src="/img/icones-home/o-que-e-cultura-viva.svg")
                h3 O QUE É O CULTURA VIVA?
                p Iniciativas ligadas à cultura de base comunitária, Indígenas, Quilombolas, de Matriz Africana, economia solidária, produção cultural, urbana e periférica, cultura digital, entre outras.

        #footer-brasil

        script(type="text/javascript", src="js/main.js")
        script(defer='defer', src='//barra.brasil.gov.br/barra.js', type='text/javascript')
