doctype html
html
    head
        title Title Site
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", type="text/css", href="css/main.css")

    body
        #barra-brasil(style='background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;')
            ul#menu-barra-temp(style='list-style:none;')
                li(style='display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED')
                  a(href='http://brasil.gov.br', style='font-family:sans,sans-serif; text-decoration:none; color:white;') Portal do Governo Brasileiro
                | &#x9;&#x9;
                li
                  a(style='font-family:sans,sans-serif; text-decoration:none; color:white;', href='http://epwg.governoeletronico.gov.br/barra/atualize.html') Atualize sua Barra de Governo
        .box-menu
            .row
                .small-1.columns
                    a.action-secondary-menu(href="#")
                        i.icon-menu
                .small-14.columns
                    h1.logo
                        a(href="#")
                            img(src="/img/logo-cultura-viva.svg")
                .small-9.columns
                    ul.inline-list.main-menu
                        li
                            a(href="./criterios.html")
                                i.icon-user
                                span Entrar
                        li
                            a(href="#")
                                i.icon-map
                                span Mapa
                        li
                            a(href="#")
                                i.icon-calendar
                                span Eventos
                        // li
                        //     a(href="#")
                        //         img(src="/img/usuario.png")
        .row
            .large-16.large-centered.columns.text-center
                h2 NOME DO PONTO
                h3 PÁGINA DO SEU PONTO
                p Esta é a página do seu ponto de cultura. Apenas você tem acesso a ela.
                p Fique a vontade para ir preenchendo as sessões - você não precisa fazer tudo agora! Quanto sua página estiver completa, clique em "validar dados" e aguarde de XX a XX dias para obter uma resposta da Rede Cultura Viva.
                p Depois, seu ponto poderá criar eventos, projetos e usar a plataforma para se manter em contato com o MinC, se inscrevendo em editais.
        .row
            .large-offset-2.large-10.columns.box-status-cadastro
                .head
                    i.icon-user
                    h4 Informações do Responsável
                    a.action-open-form(href="#") +
                .content.large-24.columns
                    .text.large-19.columns
                        p Maria Almeida Dias
                        p CPF: 333.000.333-33

                        a(href="#") Qual é sua formação?
                    .large-5.columns
                        .set-size
                            .pie-wrapper.progress-30.style-2
                                span.label 95 
                                    span.smaller %
                                .pie
                                    .left-side.half-circle
                                    .right-side.half-circle
                                .shadow
            .large-offset-2.large-10.columns
                p teste
        

        #example
        #footer-brasil

        script(type="text/javascript", src="js/main.js")
        script(defer='defer', src='//barra.brasil.gov.br/barra.js', type='text/javascript')

