/*  Syntax Quick Reference for Jeet
    --------------------------
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column, gutter = jeet.gutter)
    unshift()
    edit()
    center(max_width = 1410px, pad = 0)
    stack(pad = 0, align = false)
    unstack()
    align(direction = both)
    cf()

    For more info see:
        Kouto Swiss Doc: http://kouto-swiss.io/
        Jeet Doc: http://jeet.gs

    And of course, look in node_modules for axis-css and jeet
*/
//@import "kouto-swiss"
//@import "jeet"

normalize()

@import "foundation"
@import "icons"
@import "slideshow"

@font-face
  font-family: "DroidSans"
  font-weight: normal
  src: url("/fonts/DroidSans-webfont.eot")
  src: url("/fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/DroidSans-webfont.woff") format("woff"), url("/fonts/DroidSans-webfont.ttf") format("truetype"), url("/fonts/DroidSans-webfont.svg#DroidSans") format("svg")

@font-face
  font-family: "DroidSans"
  font-weight: bold
  src: url("/fonts/DroidSans-Bold-webfont.eot")
  src: url("/fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/DroidSans-Bold-webfont.woff") format("woff"), url("/fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("/fonts/DroidSans-Bold-webfont.svg#DroidSans") format("svg")

amarelo = #FBED1D

body
    font-family: 'DroidSans'
    background: url('/img/bg.png'), linear-gradient(to right, rgba(7,85,121,1) 0%, rgba(7,137,121,1) 51%, rgba(7,85,121,1) 100%)

.box-menu
    background-color: amarelo
    border-top: 4px solid #075579
    .action-secondary-menu
        font-size: 1.5em
        i
            line-height: 3em
    .logo
        margin: 0
        font-size: 1em
        max-width: 10em
    a
        color: #F7931E
    .main-menu
        margin: 0
        border-right: 1px solid #E2D02B
        li
            float: right
            margin: 0
            width: 5em
        a
            text-align: center
            padding: .5em 0
            border-left: 1px solid #E2D02B
            &:hover
                color: #078979
        i
            font-size: 2em
            line-height: 1em
            display: block

h2,
h3
	color: amarelo
	font-weight: bold
	margin: .8em 0

.featured-text,
.tip-subject
	margin-top: 3em
	text-align: center
	img
		min-height: 5em
	p
		color: #fff

#footer-brasil
    background: none repeat scroll 0% 0% #2c66ce
    padding: 1em 0px
    max-width: 100%
